{% extends 'base.html.twig' %}

{% block title %}New Dave{% endblock %}

{% block body %}
    <h1>Create new Dave</h1>

    {{ include('dave/_form.html.twig') }}

    <a href="{{ path('dave_index') }}">back to list</a>
{% endblock %}
