<form method="post" action="{{ path('betaling_delete', {'id': betaling.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ betaling.id) }}">
    <button class="btn">Delete</button>
</form>
