{% extends 'base.html.twig' %}

{% block title %}New Betaling{% endblock %}

{% block body %}
    <h1>Create new Betaling</h1>

    {{ include('betaling/_form.html.twig') }}

    <a href="{{ path('betaling_index') }}">back to list</a>
{% endblock %}
